* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {  
    background-color: #d9dcd6;
}

.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
}

.seo {
    color: #d9dcd6;
}

/*navigation bar layout*/
nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    color: #ffffff;
    text-decoration: none;
}

/*navigation bar styling*/
ul li {
    list-style-type: none;
    display: inline-block;
    margin-left: 25px;
}

/*look of font on navigation bar*/
a {
    color: #ffffff;
    text-decoration: none;
}

/*writing for all small text within the website*/
p {
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*main picturee for the website*/
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/*layout and design of the side column of the website*/
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589BD;
}

/*side column font to match for each individual section within the column*/ 
.benefit-lead {
    margin-bottom: 32px;
    color: #ffffff;
    text-align: center;
}

/* side image spacing*/
.benefit-lead img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* subsections structured like Search Engine Optimization with the float left img*/
.main-sections {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
    
}

/*img layout to the coresponding subsection*/
.main-sections img {
    max-height: 200px;
    float: left;
    margin-right: 25px;
}

/*img layout to the coresponding subsection*/
#online-reputation-management img {
    max-height: 200px;
    float: right;
    margin-right: 25px;
}

/*description of subsection headers*/
h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

footer {
    text-align: center;
}
